.content-container{
    display: flex;
    justify-content: center;
}

.content
    {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30px auto;
    row-gap:20px;
    
    width: 980px;
    height: 1000px;
    margin: 10px;
    
}

.upper-catalog {
    grid-column: 1 / span 2;
    background-color: lightblue;
    text-align: center;
    
}
.leftblock {
    
    background-color: lightcoral;
    text-align: center;
}
.centerblock {
    display: flex;

    flex-direction: column;
    align-items: center;


    background-color: #fff;
    
}
.gallery
{
    background-color:darkgreen;
    width: 100%;
    height: auto;

    display: flex;

    flex-direction: column;
    align-items: center;
}
.goods-gallery
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;

    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.switch-pages-bar
{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 250, 250)
}

.text-under-gallery
{
    background-color:darkcyan;
    width: 100%;
    height: 50px;
}

.goods-card
{
    width: 250px;
    height: 380px;

    background-color: rgb(220, 220, 220);

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px;
}

.goods-image-block
{
    width: 100%;
    height: 210px;
    
}
.goods-image-block img
{
    width: 210px;
    height: 210px;
}
.goods-description
{
    display: flex;

    flex-direction: column;
    align-items:center;

    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.goods-description-block
{
    width: 100%;

    color: rgb(132, 132, 132);
}

.goods-price-block
{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods-price-block p
{
    font-size: 28px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}
.goods-price-block img
{
    width: 40px;
    height: 25px;
}

.switch-pages-bar
{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.switch-bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.standard-button-number
{
    cursor: pointer;
    font-size: 20px;
}

.selected-button-number
{
    font-size: 24px;
}